Source: openinfoman-mapping
Maintainer: Andrew Napier <andrew.napier@jembi.org>
Section: web
Priority: optional
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 9)
Homepage: https://github.com/jembi/datim-update-infoman


Package: openinfoman-mapping
Architecture: all
Depends: openinfoman-csv (>= 1.1), wget
Recommends: 
Description: OpenInfoMan Mapper
 Export a mapping document from the ILR
